.add-cost-container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cost-paper {
    width: 60vw;
    height: 70vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 4px 4px 13px 7px rgba(128, 128, 128, 0.247);
    display: grid;
    padding: 25px;
    font-family: "Josefin Sans", sans-serif;
}

.input-title-span {
    display: flex;
    align-items: center;
}

.input-title-text {
    padding-right: 10px;
    font-family: "Josefin Sans", sans-serif;
}

.input-title-field {
    width: 300px;
    height: 40px;
    border: 2px #a7a3ad solid;
    font-size: 1.5rem;
    padding-left: 15px;
    color: #01295F;
    border-radius: 10px;
    outline: none;
    transition: .2s;
}

.input-title-field:focus {
    border: 2px #777579 solid;
}

.input-description-span {
    display: flex;
    align-items: center;
}

.input-description-text {
    padding-right: 10px;
}

.input-description-field {
    width: 300px;
    height: 40px;
    border: 2px #a7a3ad solid;
    font-size: 1.5rem;
    padding-left: 15px;
    color: #01295F;
    border-radius: 10px;
    outline: none;
    transition: .2s;
}

.input-description-field:focus {
    border: 2px #777579 solid;
}

.input-amount-span {
    display: flex;
    align-items: center;

}

.input-amount-text {
    padding-right: 10px;
}

.input-amount-field {
    width: 300px;
    height: 40px;
    border: 2px #a7a3ad solid;
    font-size: 1.5rem;
    padding-left: 15px;
    color: #01295F;
    border-radius: 10px;
    outline: none;
    transition: .2s;
}

.input-amount-field:focus {
    border: 2px #777579 solid;
}

.input-category-span {
    display: flex;
    align-items: center;

}

.input-category-text {
    padding-right: 10px;
}

.input-category-field {
    width: 300px;
    height: 40px;
    border: 2px #a7a3ad solid;
    font-size: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
    color: #01295F;
    border-radius: 10px;
    outline: none;
    transition: .2s;
}

.input-category-field:focus {
    border: 2px #777579 solid;
}

.input-date-span {
    display: flex;
    align-items: center;

}

.input-date-text {
    padding-right: 10px;
}

.input-date-field {
    width: 288px;
    height: 40px;
    border: 2px #a7a3ad solid;
    font-size: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
    color: #01295F;
    border-radius: 10px;
    outline: none;
    transition: .2s;
}

.input-date-field:focus {
    border: 2px #777579 solid;
}

.btn-span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-add-cost {
    width: 100px;
    height: 30px;
    align-items: center;
    border: 2px solid #01295F;
    background-color: #FFFFFF;
    font-size: 1rem;
    border-radius: 5px;
    transition: .3s;
}

.btn-add-cost:hover {
    cursor: pointer;
    background-color: #01295F;
    color: #FFFFFF;
}

.btn-add-cost:active {
    box-shadow: 0px 0px 20px 0px #2d2959;
}